:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --green: #28a745;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --light-gray: #f4f5fa;
  --secondary-text: #252525;
  --white: #fff;
}

.main {
  padding: 12px 36px;
  background: var(--white);
  /* max-width: 1170px; */
}

h2,
h3,
h5,
h6 {
  margin: 0;
  color: #111111;
  font-weight: 400;
  font-family: "Cairo", sans-serif;
  font-size: 36px;
  text-align: center;
}

.nav_bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  color: #1c1c1c;
  font-weight: 700;
  cursor: pointer;
}

.nav_link {
  width: 50%;
  justify-content: right;
}

.nav_link h3 {
  font-weight: 700;
  font-size: 24px;
  cursor: pointer;
}

.head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 12px 0;
}

.head h3 {
  font-weight: 700;
  font-size: 24px;
  color: var(--green);
}

.head div {
  display: flex;
  align-items: center;
  gap: 10px;
}

.head div:first-child {
  justify-content: left;
}

.head div:last-child {
  justify-content: right;
}

.count {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px 8px;
  border: var(--gray) solid 2px;
  margin: 0 6px;
}

select {
  background: var(--green);
  max-width: 400px;
  min-width: 250px;
  color: var(--white);
  padding: 2px 8px;
  border: none;
  outline: none;
  font-weight: 700;
  font-size: 18px;
}

.button {
  background: var(--green);
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px 20px;
}

.product_list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 12px;
  min-height: calc(100vh - 250px);
}

.product_item {
  /* flex: 0 0 25%; */
  max-width: 400px;
  width: 310px;
  min-width: 270px;
  padding: 0 8px;
  background: var(--light-gray);
}

.product_item .description {
  cursor: pointer;
}

.product_avatar {
  height: 270px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.item_name {
  color: var(--secondary-text);
  font-size: 16px;
}

.item_price {
  color: var(--secondary-text);
  font-weight: 700;
  font-size: 18px;
}

.pagination {
  border: var(--light-gray) solid 2px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 12px;
}

.pages {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
}

.pages button {
  border-radius: 50%;
  padding: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: var(--light-gray) solid 1px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  color: var(--secondary-text);
  background: var(--white);
}

.pages button:hover {
  background: var(--light-gray);
}

.pagination button:disabled {
  pointer-events: none;
  cursor: not-allowed;
}

.selected_page {
  background: var(--green) !important;
  color: var(--white) !important;
}

.page_selector {
  border: var(--light-gray) solid 1px;
  outline: none;
  background: var(--white);
  cursor: pointer;
}

.page_selector:hover {
  background: var(--light-gray);
}
